 @use "src/stylesGlobal/variables";

 
            // DashRow //

.rowWrapper {
    

    width: 100%;
    height: 25vh;

    .rowLeftSegment{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .rowRightSegment{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
    
}





            // DashTemplate //
.templateWrapper{
    display: grid;
    background-color: variables.$unitBackground;
    border-radius: 5%;
    grid-template-rows: 50% 50%;
    .templateHeader {
        grid-row: 1;
        display: flex;
        background-size: cover;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        .bottomLine{
            width: 100%;
            height: 25%;
            display: grid;
            grid-template-columns: 80% 20%;
            .titleSegment{
                grid-column: 1;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-left: 15%;
                .titleSocket{
                    border-radius: 20%;
                    width: auto;
                    height: 50%;
                    color:variables.$textLightColor;
                    background-color: variables.$interfaceGlobal;
                    filter: blur(50%);

                }
            }
            .modalitySegment {
                grid-column:2;
                display: flex;
                justify-content: center;
                align-items: center;
                .modalitySocket{
                    aspect-ratio: 1/1;
                    height: 80%;
                }
            }
        }
    }
    .templateBody{
        grid-row: 2;
        display: grid;
        grid-template-columns: 20% 60% 10% 10%;
        .authorWrapper{
            grid-column-start: 1;
            grid-column-end: 2;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .logoWrapper{
                aspect-ratio: 1/1;
                height: 80%;
                border-radius: 50%;
            }
        }
        .descriptionWrapper{
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            outline-offset: 10px;
        }
        .tagWrapper::-webkit-scrollbar{
            display: none;
        }
        .tagWrapper{
            grid-column-start: 3;
            grid-column-end: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            overflow: scroll;
            .tagSocket{
                width: auto;
                height:50%;
                border-radius: 30%;
                background-color: variables.$interfaceGlobal;
                color: variables.$textLightColor;
            }
        }
        .audienceSegment{
            grid-column-start: 4;
            display: grid;
            grid-template-rows: 50% 50%;
            .totalAudienceSegment{
                grid-row: 1;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .audienceSocket{
                    border-radius: 20%;
                    background-color: variables.$interfaceGlobal;
                    width: auto;
                    height: 50%;
                    margin-left: 15%;
                    color:variables.$textLightColor;
                }
                .audienceDescriptor{
                    color: variables.$textLightColor;
                    height: 50%;
                    width: auto;
                }
            }
            .localAudienceSegment{
                grid-row: 2;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .audienceSocket{
                    border-radius: 20%;
                    background-color: variables.$interfaceGlobal;
                    width: auto;
                    height: 50%;
                    margin-left: 15%;
                    color:variables.$textLightColor;
                }
                .audienceDescriptor{
                    color: variables.$textLightColor;
                    height: 50%;
                    width: auto;
                }
            }
        }
    }
}

.curvature{
    width: 100%;
    height: 40vh;
    position: relative;
    .curve{
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

}


.sectionTemplate{
    width: 100%;
    // height: auto;

    .layout{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        border-style: none;
        border-radius: 15px;
        .pic{
            height: 100%;
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            .picSocket{
                aspect-ratio: 1/1;
                display: flex;
                width: 70%;
            }
        }

    }

    .sectionContent{
        width: 100%;
        color: white;
        font-weight: 700;
        font-size: 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .contentLayout{
            height: 85%;
            width: 90%;
            display: flex;
            flex-direction: row;
            border-radius: 10px;
            border-style: none;
            .imgSegment{
                // height: 100%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                .imgSocket{
                    display: block;
                    aspect-ratio: 1/1;
                    height:70%;
                }
            }
            .description{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .titleSegment{
                    height: 10vh;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    .titleSocket{
                        height: 70%;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        border-style: none;
                        border-radius: 15px;
                        color: black;
                        font-weight: 1000;
                        text-align: center;
                        font-size: 2rem;
                        

                    }
                }
                .artistSegment{
                    width: 100%;
                    height: 10vh;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    .logoSocket{
                        aspect-ratio: 1/1;
                        height: 70%;
                    }
                    .artistTitleSocket{
                        height: 70%;
                        width: 40%;
                        border-radius: 15px;
                        border-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: 700;
                        color: black;

                    }

                }
                .audience_format_Segment{
                    width: 100%;
                    height: 10vh;
                    display: flex;
                    flex-direction: row;
                    .audienceSegment{
                        width: 70%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .audienceDisplay{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            border-style: none;
                            border-radius: 15px;
                            height: 90%;
                            width: 100%;
                            // flex-wrap: wrap;

                            .iconSegment{
                                aspect-ratio: 1/1;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .iconSocket{
                                    height: 50%;
                                    aspect-ratio: 1/1;
                                }
                            }
                            .totalOutput{
                                width: 30%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-weight: 700;
                                font-size: 1rem;
                                color: black;

                            }
                            .localVibrations{
                                width: 50%;
                                height: 100%;
                                display: flex;
                                .imageSegment{
                                    aspect-ratio: 1/1;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .imageSocket{
                                        aspect-ratio: 1/1;
                                        height: 50%;
                                    }
                                }
                                .localAudienceSocket{
                                    width: 70%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-weight: 700;
                                    font-size: 1rem;
                                    color: black;
                                    text-align: center;
                                }
                            }
                        }
                        
                    }
                    .formatSegment{
                        width: 30%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .formatWrapper{
                            width: 80%;
                            height: 70%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex-wrap: wrap;
                            .formatTitle{
                                width: 80%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-wrap: wrap;
                                font-weight: 700;
                                font-size: 1rem;
                                color: black;

                            }
                            .iconSegment{
                                width: 20%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-content: center;
                                flex-wrap: wrap;
                                .iconSocket{
                                    height: 60%;
                                    aspect-ratio: 1/1;
                                    border-radius: 1000px;
                                    border-style: none;
                                }
                            }

                        }
                    }
                }
            }
            .modalitySegment{
                // height: 100%;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .modalitySocket{
                    aspect-ratio: 1/1;
                    width: 90%;
                    border-style: none;
                    border-radius: 1000px;

                }
            }
        }
    }
}


