@use "~/src/stylesCommon/templates";

.wrapper{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;
    background: #888686;
    
    .modalityPresetSocket{
        @include templates.modalityPresetSocket;
    }
}