@use "~/src/stylesCommon/templates";

.sectionWrapper {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    position: relative;
    @include templates.sectionWidth($isSideline:true);
    height: 100%;
}

