@use "@styles//templates";


.wrapper {
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: #FFFFFF;
    height: 100%;
    overflow-y: hidden;
    .output {
        display: block;
        gap: 0px;
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .output::-webkit-scrollbar{
        display: none;
    }
}