@use "~/src/stylesCommon/templates";


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: #FFFFFF;
    height: 100%;
}