@import "../../stylesCommon/variables.scss";

.focusWrapper {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    padding: 0px;
    .upperVerticalWrapper {
        @include _variables.darkerBackgroundColor;
        width: 100%;
        height: 160px;
        background: $darkerBackgroundColor;
    }
    .centralWrapper {
        @include _variables.primaryBackgroundColor;
        width: 100%;
        height: auto;
        background: $primaryBackgroundColor;

    }
    .lowerVerticalWrapper {
        @include _variables.darkerBackgroundColor;
        background: $darkerBackgroundColor;
        width: 100%;
        height: 160px;
    }
}