

.focusWrapper {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    padding: 0px;
    .upperVerticalWrapper {
        width: 100%;
        height: 160px;
        background: #888686;
    }
    .centralWrapper {
        width: 100%;
        height: auto;
        background: #FFFFFF;

    }
    .lowerVerticalWrapper {
        background: #888686;
        width: 100%;
        height: 160px;
    }
}