@use '../../../stylesCommon/_variables.scss';

.wrapper{
    @include _variables.primaryBackgroundColor;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    background: $primaryBackgroundColor;
}