@use './variables';

// globals
@font-face {
    font-family: 'Inter';
    src: url('src/assets/fonts/Inter-Black.woff2');
}

@mixin sectionWidth ($isSideline){
    @if $isSideline {
        width: 25%;
    }
    @else {
        width: 75%;
    }

}

@mixin verticalHeights ($upperImplied){
    @if $upperImplied {
        height: 10%;
    }
    @else {
        height: 5%;
    }
}


@mixin minorUnitSelectionColor ($isSelected){
    @if $isSelected {
        background-color: #E9E9E9;
    }
    @else {
        background-color:#FFFFFF;
    }
}

$darkerGlobalColor:#888686;
$lighterGlobalColor:#FFFFFF;

// fonts

@mixin FontsDashSectionStandart {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 1 rem;
    line-height: 50%;
}
@mixin FontsDashSectionMinor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 0.5rem;
    line-height: 30%;

}
@mixin FontsDashSectionMicro {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 15.9498px;
    line-height: 19px;
}
@mixin FontsDashSectionMajor{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 20px;
    overflow: hidden;
}
@mixin FontsMinorUnitAudience {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 26px;
    color: #FFFFFF;
    overflow: hidden;
}


// components

@mixin minorUnitWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    height: 162px;
}

@mixin verticalOutput {
    padding: 0px 0px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    background: #FFFFFF;

}

@mixin personalWrapper {
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(136, 134, 134, 0.83);
    height: 160px;
    
}

@mixin personalLowerVerticalWrapper {
    height: 124.67px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(136, 134, 134, 0.83);

}

@mixin minorUnitImage ($isActive) {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 70%;
    @if $isActive{
    box-sizing: border-box;
    overflow: hidden;
    }
    @else {
    box-sizing: border-box;
    overflow: hidden;
    }
}

@mixin minorUnitImageWrapper {
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}


@mixin minorUnitUpperTitle ($isActive){
    @if $isActive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    box-sizing: border-box;
    color:#FFFFFF;
    margin: 0px;
    gap: 0px;
    padding: 0%;
    white-space: nowrap;
    }
    @else {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    overflow-x: auto;
    box-sizing: border-box;
    color: #000000;
    margin: 0px;
    gap: 0px;
    padding: 0%;
    white-space: nowrap;
    overflow: hidden;
    }
        
}

@mixin minorUnitLowerTitle ($isActive) {
    text-overflow: ellipsis;
    @if $isActive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15%;
    gap: 10%;
    overflow: hidden;
    width: 100%;
    height: 50%;
    color:#BBBBBB;
    white-space: nowrap;
    }
    @else {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 15%;
    gap: 10%;
    overflow: hidden;
    width: 100%;
    height: 50%;
    color:#C0C0C0;
    white-space: nowrap;
    }
}

@mixin minorUnitTitlesWrapper {
    font-family:'Inter-Black';
    display: block;
    padding: 0px;
    gap: 0%;
    height: 100%;
    white-space: nowrap;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

@mixin minorUnitContentDataWrapper {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0%;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-self: center;
    overflow: hidden;
}

@mixin minorUnitModality {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

@mixin minorUnitAudienceWrapper{
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px;
}

@mixin minorUnitAudienceSocket ($isActive) {
    @if $isActive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 10px;
    width: 75%;
    height: 40%;
    background:#ADADAD;
    box-sizing: border-box;
    overflow: hidden;
    }
    @else{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 10px;
    width: 75%;
    height: 35%;
    background:#A7A7A7;
    box-sizing: border-box;
    overflow: hidden;
    }
}


@mixin modalityMinor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 40px;
    height: 40px;

    background: #F5F5F5;
    border-radius: 445px;
}

@mixin tagItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10%;
    gap: 10%;

    width: auto;
    height: 80%;
    background: #D9D9D9;
    border-radius: 10%;
}

@mixin cardWrapper ($isActive) {
    @if $isActive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;    
    width: 15%;
    height: 85%;   
    background: $lighterGlobalColor;
    border-radius: 17.0112px;
    margin: 3px 10px;
    gap: 10px;
    border-color: black ;
    border-width: 2rem;
    }
    @else {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;    
    width: 15%;
    height: 85%;   
    background: $lighterGlobalColor;
    border-radius: 17.0112px;
    margin: 3px 10px;
    gap: 10px;
    }
}

@mixin cardDescription ($isActive) {
    @if $isActive{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 5%;
    width: 90%;
    height: 20%;
    background: #F6F6F6;
    border-radius: 17.0112px;
    opacity: 100%;
    align-self: flex-end;
    }
    @else {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 5%;
    width: 90%;
    height: 20%;
    background: #F6F6F6;
    border-radius: 17.0112px;
    opacity: 0%;
    align-self: flex-end;
    }
}

@mixin sectionModalityWrapper ($isActive) {
    @if $isActive{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    opacity: 100%;
    }
    @else {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    opacity: 0%; 
    }
}

@mixin sectionOutput {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 0%;
    height: 100%;
    overflow-y:scroll;
}

@mixin minorContent ($isActive) {
    height: 10vh;

    @if $isActive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    }
    @else {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    }
}

 @mixin modalityPresetSocket {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 5%;
}

@mixin modalitySocketMUD {
    display: block;

    width: 50%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
}
