//  global
    $primaryBackgroundColor: #FFFFFF;
    $lighterThemeText:#FFFFFF;
    $darkerBackgroundColor:#888686;


//  selected  minor unit
    $selectedMinorUnitWrapperColor:#888686;
    $selectedMinorUnitLowerTitle: #BBBBBB;
    $selectedMinorUnitUpperTitle:#FFFFFF;
    $selectedMinorUnitCurrentAudience:#ADADAD;
    
    
//  minor unit
    $minorUnitUpperTitle:#000000;
    $minorUnitLowerTitle:#C0C0C0;
    $minorUnitCurrentAudience:#A7A7A7;
    $minorUnitHeight:162px;
    $minorUnitImgBorderGradient: linear-gradient(270deg, #33C5AA -25.2%, #1043F7 129.6%);
    
    

//  verticals
    $verticalsColor:rgba(136, 134, 134, 0.83);
    $verticalsUpperHeight:160px;
    $verticalsLowerHeight:124.67px;




