
@use "~/src/stylesCommon/templates";


// clip

.clipWrapper {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
        .clip {
            width: 100%;
            height: 100%;
        
        }
        .clipDescriptionWrapper {
                @include templates.FontsDashSectionStandart;
                width: 30%;
                height: 15%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                margin: 5%;
                background: rgba(227, 227, 227, 0.36);
                backdrop-filter: blur(3px);
                color: white;
                position: absolute;
                left: 20%;
                bottom: 10%;


                .clipAuthorDecription{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0px;
                    height: 35%;
                    margin: 5%;
                    width: 100%;
                    overflow: hidden;
                    .authorLogo {
                        display: column;
                        align-items: center;
                        justify-content: center;
                        height: 90%;
                        width: 90%;
                        padding: 0px;
                        gap:15%;
                        border-radius: 50%;
                        overflow: hidden;

                    }
                    .authorTitle {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        overflow: hidden;
                        @include templates.FontsDashSectionStandart;
                    }
            
                }
            .clipDescription{
                width: 100%;
                height: auto;
                overflow: hidden;
                flex-wrap: nowrap;
                @include templates.FontsDashSectionStandart;
             }
            }
                
            .muteSocket{
                &:hover{opacity: 100%;}
                opacity: 30%;
                position: absolute;
                right: 15%;
                bottom: 15%;
                width: 15%;
                height: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                filter: blur(75px);
                }
            

        
    }

// modality

.modalityWrapperActive {
    @include templates.modalityMinor

}

.modalityWrapperPassive {
    @include templates.modalityMinor;
    opacity:0%;
}

.modalitySocket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5%;

    width: 15%;
    height: 15%;

    background: #F5F5F5;
    border-radius: 50%;
    border: 1px solid;

    border-image-source: linear-gradient(180deg, #175CE9 0%, #2EB3B6 100%);
}

// tag arrray

.tagArrayWrapper{
    width: 100%;
    overflow-x: scroll;
    height: 20%;
    display: flex;
    flex-direction: row;
    padding: 0%;
    gap: 5%;
    justify-content: center;
    align-items: center;

    .tagItem {
        @include templates.tagItem;
        @include templates.FontsDashSectionMicro;
        color: white;
    }
}


// Titles

.titleWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 50%;

    .title{
        @include templates.FontsDashSectionMinor;
        color: #000000;
        width: auto;
        height: 100%;
    }
    .sourceWrapper{
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0%;
        width: auto;
        height: 100%;
        .authorLogo{
            width: 90%;
            height: 90%;
            border-radius: 50%;
            margin: 5%;
        }
        .authorName{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            overflow-x: scroll;
            padding: 0px;
            gap: 3.44px;
            width: auto;
            height: 100%;
            @include templates.FontsDashSectionMinor;
            color: #000000;
        }
    }
}
