@use '../../../stylesCommon/variables.scss';
.wrapper {
    @include _variables.primaryBackgroundColor;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    height: auto;
    width: 100%;
    background: $primaryBackgroundColor;
}