@use "~/src/stylesCommon/templates";

.wrapper {
    background: #888686;
    @include templates.FontsDashSectionStandart;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    @include templates.verticalHeights($upperImplied:true);
    max-height: 10vh;
    box-sizing: border-box;
    flex-grow: 0;
}