@use "~/src/stylesCommon/templates";

.wrapper {
    background: #888686;
    @include templates.FontsDashSectionStandart;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}