@use "src/stylesGlobal/variables";




.communitySetUp{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    width: 100%;
    .communityInput{
        height: 7vh;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 15% 1fr 30% 15%;
        .logoSegment{
            grid-column: 1/2;
            display: flex;
            justify-content: center;
            align-content: center;
            height: 7vh;
            .logoSocket{
                aspect-ratio: 1/1;
                height: 70%;
            }
        }
        .titleSegment{
            height: 7vh;
            grid-column: 2/3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            font-size: 1rem;
            font-weight: 700;
            // color: variables.$backgroundGlobal;
            .input{
                border-radius: 50px;
                background-color: variables.$backgroundGlobal;
                text-align: center;
                outline-style: none;
            }

        }
        .typeSegment{
            height: 7vh;
            grid-column: 3/4;
            display: grid;
            grid-template-columns: 50% 50%;
            .typeSocket{
                grid-column: 1/2;
                display: flex;
                justify-content: center;
                align-content: center;
                height: 7vh;
                .typeSelector{
                    width: 70%;
                    height: 70%;
                    border-style: none;
                    border-radius: 50px;
                    background-color: variables.$interfaceContrast;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    flex-direction: row;
                    .typeSegment{
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        .iconSocket{
                            aspect-ratio: 1/1;
                            height: 70%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                    }


                }
                
            }
            .typeDescription{
                grid-column: 2;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                color: variables.$backgroundGlobal;
                font-weight: 700;
                font-size: 1rem;
                gap: 3px;
                .description{
                    height: 50%;
                    width: 70%;
                }
                .suggestion{
                    aspect-ratio: 1/1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .controls{
            height: 7vh;
            grid-column: 4;
            display: flex;
            .control{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    aspect-ratio: 1/1;
                    height: 70%;
                    border-style: none;
                    border-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: variables.$backgroundGlobal;
                }
            }
        }
    }
    .communityOutput::-webkit-scrollbar{
        display: none;
    }
    .communityOutput{
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: 7vh;
        height: 30vh;
        overflow-x: scroll;
        .outputUnit{
            width: 100%;
            display: grid;
            grid-template-columns: 15% 1fr 15%;
            .logoSegment{
                grid-column: 1/2;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .logo{
                    aspect-ratio: 1/1;
                    height: 70%;
                    border-style: none;
                    border-radius: 100px;
                    background-position: 100%;
                    background-size: cover;
                }
            }
            .titleSegment{
                grid-column: 2/3;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 1rem;
            }
            .typeSegment{
                grid-column: 3;
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
                .iconSocket{
                    aspect-ratio: 1/1;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
    }
    .settings{
        height: auto;
        width: 100%;
        display: grid;
        grid-template-rows: 7vh auto;
        .header{
            grid-row: 1/2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: variables.$backgroundGlobal;
            font-weight: 700;
            font-size: 1rem;
            background-color: variables.$interfaceGlobal;
        }
        .settingsOutput::-webkit-scrollbar{
            display: none;
        }
        .settingsOutput{
            grid-row: 2;
            width: 100%;
            display: grid;
            grid-auto-flow: row;
            grid-auto-rows: 7vh;
            min-height: 21vh;
            max-height: 35vh;
            overflow-y: scroll;
            .settingUnit{
                width: 100%;
                display: flex;
                .description{
                    width: 70%;
                    height: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    color: black;
                    font-weight: 700;
                    font-size: 1rem;
                }
                .switcherSegment{
                    width: 30%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    .switcherSocket{
                        height: 50%;
                        width: 50%;
                    }

                }
            }
        }
    }

}