@use "src/stylesGlobal/variables";


.focus::-webkit-scrollbar{
    display: none;
}
.focus{
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
}
.globalWrapper {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    .display{
        display: flex;
        background-color: variables.$backgroundGlobal;
        width: 100%;
        height: 92%;
        .focus{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    
}

.leftSide {
    width: 10vw;
    height: 100vh;
    background-color: variables.$backgroundGlobal;
}

.HomePageWrapper::-webkit-scrollbar {
    display: none;
}
.HomePageWrapper {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: variables.$backgroundGlobal;
}

.Authentication {
    width: 100%;
    height: 100%;
    background-color: variables.$backgroundGlobal;
}

.top {
    color: black;
    background-color: variables.$interfaceGlobal;
    height: 7%;
}

.display{
    display: flex;
    flex-direction: row;
}

.contentMicro{
    background-color: variables.$backgroundGlobal;
    width: 15%;

}