@use 'src/stylesGlobal/variables';


.rootWrapper::-webkit-scrollbar{
    display: none;
}
.rootWrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: variants.$backgroundGlobal;
    .wrapper::-webkit-scrollbar{
        display: none;
    }
    .wrapper{

    }
}