@use "src/stylesGlobal/variables";


            // Output Unit //
 @mixin outputUnit {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 0;
    margin: 0;
    width: 20vw;
    height:5vh;
 }

 @mixin outputUnitImageWrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    grid-row-start: 1;
    grid-row-end: 2;
 }

 @mixin outputUnitImageSocket {
    aspect-ratio: 1/1;
    height: 70%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
 }

 @mixin outputUnitTitles($isSegmented) {
    grid-row-start: 2;
    grid-row-end: 3;
    @if $isSegmented {
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        overflow-x: hidden;
    }
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;

 }

 @mixin outputUnitUpperTitle {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10%;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden;

 }

 @mixin outputUnitBottomTitle {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10%;
    padding: 0;
    white-space: nowrap;
    overflow-x: hidden
 }

 @mixin outputUnitData($isDigitized) {
    grid-row-start:3 ;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    @if $isDigitized {
        flex-direction: column;
    }
    @else {
        justify-content: center;
        align-items: center;
    }
 }

 @mixin outputUnitDataSocket {
    aspect-ratio: 1/1;
    height: 70%;
    margin: 0;
    padding: 0;
 }


 @mixin outputUnitDataIcon {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 @mixin outputUnitDataDigital{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
 }

 @mixin outputUnitDataDigitalSocket {
    width: 50%;
    height: 30%;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
 }


            // Icon Socket
@mixin iconSocket {
    aspect-ratio: 1/1;
    height: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


            // Profile  description 
@mixin descriptionUnit{
   width:100%;
      height: 8vh;
      display: flex;
      gap: 10px;
      font-weight: 300;
      .descriptionWrapper{
         display: flex;
         justify-content: center;
         align-items: center;
         width: auto;
         height: 100%;
         .description{
            background-color: variables.$interfaceGlobal;
            border-style: none;
            width: 100px;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: white;
            font-size: 1rem;
            font-weight: 700;
         }
      }

      .editForm{
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         gap: 5px;
         .input:focus{
            outline-style: none;
         }
         .input{
            text-align: center;
            font-weight: 700;
            font-size: 1rem;
            width: 35vw;
            height: 65%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            border-style: none;
            border-style: solid;
            border-color: variables.$interfaceGlobal;
         }
         .submitBtn{
            display: flex;
            color: white;
            font-weight: 700;
            font-size: 1rem;
            height: 65%;
            justify-content: center;
            align-items: center;
            background-color: variables.$confirmColor;
            border-radius: 10px;
            border-style: none;
         }
      }
      .output{
         width: 100%;
         height: 100%;
         display: flex;
         justify-content: flex-start;
         color: black;
         font-size: 1rem;
         font-weight: 700;
         align-items: center;

      }
      .iconSocket{
         justify-self: flex-end;
         aspect-ratio: 1/1;
         height: 35%;
         align-self: center;
         margin-left: 15px;
      }
}


            // account related content navigator

@mixin NavigatorWrapper {
   width: 30vw;
   height: 100%;
}


@mixin NavigatorControls {
   width: 100%;
   height: 8vh;
   background-color: variables.$interfaceGlobal;
   display: block;
}

@mixin NavigatorSearchWrapper{
   display: flex;
   height: 50%;
   width: 100%;
   
}

@mixin NavigatorSearchInputWrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 80%;
}

@mixin NavigatorSearchInput {
   font-weight: 1000;
   width: 90%;
   height: 80%;
   border-radius: 20px;
   border-style: none;
   background-color: variables.$backgroundGlobal;
   text-align: center;
}

@mixin NavgiatorSearchIconWrapper{
   display: flex;
   justify-content: center;
   width: 20%;
   height: 100%;
   align-items: center;
}

@mixin NavigatorSearchIconSocket{
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1/1;
   height: 80%;
}

@mixin NavigatorModalityPreset{
   display: flex;
   height: 50%;
   width: 100%;
}

@mixin NavigatorModalityWrapper{
   height: 100%;
   width: 100%;
   justify-content: center;
   align-items: center;
   display: flex;
}

@mixin NavigatorModalitySocket{
   aspect-ratio: 1/1;
   height: 80%;
}





            // account related  output

   // minor content unit

@mixin MinorContentUnitWrapper{
   width: 100%;
   height: 5vh;
   display: flex;
   background-color: variables.$backgroundGlobal;
}

@mixin MinorContentUnitLogoWrapper{
   aspect-ratio: 1/1;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin MinorContentUnitLogoSocket{
   aspect-ratio: 1/1;
   height: 70%;
   border-radius: 50px;
   border-style: none;
   background-size: cover;
}

@mixin MinorContentUnitTitles{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;

}

@mixin MinorContentUnitPrimaryTitle{
   width: 100%;
   height: 100%;
   color: black;
   font-weight: 700;
   font-size: 1rem;
   display: block;
   justify-content: center;
   align-items: center;
}

@mixin MinorContentUnitSecondaryTitle{
   width: 100%;
   height: 100%;
   color: rgba($color: #000000, $alpha: 0.5);
   font-weight: 700;
   font-size: 0.5rem;
   display: block;
   justify-content: center;
   align-items: center;
}

@mixin MinorContentUnitIndicators{
   aspect-ratio: 1/1;
   height: 100%;
   display: flex;
   flex-direction: column;
}

@mixin MinorContentUnitUpdateWraper{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

@mixin MinorContentUnitUpdateSocket{
   display: flex;
   justify-content: center;
   align-items: center;
   aspect-ratio: 1/1;
   height: 70%;
}

@mixin MinorContentUnitIndicatorWrapper{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
}

@mixin MinorContentUnitIndicatorSocket{
   height: 50%;
   width: 65%;
   border-radius: 50px;
   border-style: none;
   background-color: variables.$interfaceGlobal;
   color: variables.$backgroundGlobal;
   font-weight: 700;
   font-size: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

      // Secondary output 
   
   // Management desk

@mixin SecondaryOutputDeskWrapper{
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 15vh;
   background-color: variables.$interfaceGlobal;
}

@mixin SecondaryOutputDeskUpperBar{
   height: 15%;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   font-weight: 700;
   font-size: 1rem;
   color: variables.$backgroundGlobal;
}

@mixin SecondaryOutputDeskPlaceholder{
   width: 100%;
   height: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin SecondaryOutputDeskPlaceholderIconSocket{
   aspect-ratio: 1/1;
   height: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba($color: variables.$interfaceContrast, $alpha: 0.0);
   border-radius: 50px;
   border-style: none;
}

@mixin SecondaryOutputDeskControlsWrapper{
   width: 100%;
   height: 15%;
   display: flex;
   flex-direction: row;
}


   // output
@mixin NavigatorTotalOutput{
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 100%;
}

@mixin NavigatorPrimaryOutput{
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
}

@mixin SecondaryOutputWrapper{
   width:25vw;
   height: 100%;
   display: flex;
   flex-direction: column;
}

@mixin SecondaryOutput{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

   // secondary output segment
@mixin SecondaryOutputSegment{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
}

@mixin SecondaryOutputSegmentHeader{
   background-color: variables.$interfaceGlobal;
   width: 100%;
   height: 4vh;
   display: flex;
   flex-direction: row;

}

@mixin SecondaryOutputSegmentHeaderIconSegment{
   aspect-ratio: 1/1;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin SecondaryOutputSegmentHeaderIconSocket{
   aspect-ratio: 1/1;
   height: 60%;
   border-style: none;
   border-radius:50px;
   background-color: rgba($color: variables.$interfaceContrast, $alpha: 1.0);


}

@mixin SecondaryOutputSegmentHeaderTitle{
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   color: variables.$backgroundGlobal;
   font-weight: 700;
   font-size: 1rem;

}

@mixin SecondaryOutputSegmentHeaderToggleSegment{
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

@mixin SecondaryOutputSegmentHeaderToggleSocket{
   aspect-ratio: 1/1;
   height: 60%;
   border-style: none;
   border-radius:50px;
}

@mixin SecondaryOutputSegmentOutput{
   width: 100%;
   height: auto;
   overflow-y: scroll;
   max-height: 15vh;
}