@use "~/src/stylesCommon/templates";

.dataWrapper{
    @include templates.minorUnitContentDataWrapper;
    .modalityWrapper{
        @include templates.minorUnitModality;
    }
    .audienceWrapper{
        @include templates.minorUnitAudienceWrapper;
        .audienceSocketActive{
            @include templates.minorUnitAudienceSocket;
            background:#A7A7A7;
            @include templates.FontsMinorUnitAudience;
        }
        .audienceSocketPassive{
            @include templates.minorUnitAudienceSocket;
            background:#ADADAD;
            @include templates.FontsMinorUnitAudience;
        }
    }

}

.sourceTypeWrapper{
    height: 100%;
    width: 97px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}