@use "~/src/stylesCommon/templates";


.passiveWrapper{
    @include templates.minorUnitTitlesWrapper;
    .activeProviderTitle{
        @include templates.minorUnitUpperTitle;
        color:#FFFFFF;
    }
    .passiveProviderTitle{
        @include templates.minorUnitUpperTitle;
        color: #000000;
    }
    .activeSourceType{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:97px;
    }
    .passiveSourceType{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:97px;
    }
    .activeContentTitle{
        @include templates.minorUnitUpperTitle;
        color:#FFFFFF;
    }
    .passiveContentTitle{
        @include templates.minorUnitUpperTitle;
        color: #000000;
    }
}

.activeWrapper{
    @include templates.minorUnitTitlesWrapper;
    .activeProviderTitle{
        @include templates.minorUnitUpperTitle;
        color:#FFFFFF;
    }
    .passiveProviderTitle{
        @include templates.minorUnitUpperTitle;
        color: #000000;
    }
    .activeSourceType{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:97px;
    }
    .passiveSourceType{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:97px;
    }
    .activeContentTitle{
        @include templates.minorUnitUpperTitle;
        color:#FFFFFF;
    }
    .passiveContentTitle{
        @include templates.minorUnitUpperTitle;
        color: #000000;
    }
}
