@use  "@styles//templates";
.wrapper {
    @include templates.FontsDashSectionStandart;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    color: #FFFFFF;
    width: 60%;
    height: 100%;
    overflow: hidden;
    padding-left: 5%;

}