@use  "~/src/stylesCommon/templates";
.wrapper {
    @include templates.FontsDashSectionStandart;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    color: #FFFFFF;
    width: 50%;
    height: 100%;
    overflow: hidden;

}